[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
gql-next = "*"

[packages]
aiohttp = "*"
pyinquirer = "*"
tqdm = "*"
flask = "*"
pyjwt = "*"
cryptography = "*"
authlib = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
