[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
gql-next = "*"
python-dotenv = "*"
pre-commit = "*"

[packages]
aiohttp = "*"
pyinquirer = "*"
tqdm = "*"
flask = "*"
pyjwt = "*"
cryptography = "*"
authlib = "*"
dataclasses-json = "==0.5.2"
gunicorn = "*"
requests = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
sgqlc = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
